<html>
  <head>
    <title>[wesker]</title>
    <link rel="stylesheet" href="home.css"/>
  </head>
  <body>
    <div class="ph-card"> <!--PH TITLE-->
      <h1 class="ph-w">Wesker <p class="ph-o">Hub<p></h1>
    </div>
    <div class="card">
      <img src="nerd.gif">
      <h3 style="display: inline;">WHO'S WESKER?<h3>
      <h4>We don't know much about him, but we're sure Wesker is great.</h4>
    </div>
    <br/><br/>
    <div class="card">
      <video class="card" controls>
        <source src="https://cdn.discordapp.com/attachments/425899424607371275/830119449276973066/video0-25.mov" type="video/mp4">
      </video>
    </div>
  <body>
</html>