body{
    background-color: rgb(1, 1, 1);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    text-align: center;
    height: 10em;
    position: relative;
}
.center {
    display: flex;
    align-items: center;
}
.ph-w {
    color: rgb(255,255,255);
    display: block;
    font-size: 9vm;
}
.ph-o {
    background: orange;
    display: inline-block;
    border-radius: 5px;
    color: rgb(0,0,0);
    padding: 4px;
}
.card {
    background-color: rgb(25,25,25);
    display: inline-block;
    border-radius: 0.5rem;
    color: rgb(255,255,255);
    padding: 4px;
}
video {
    height: 240;
    width: 320;
    margin: 1rem auto;
    max-width: 100%;
    display: block;
}
img {
  height: 4rem;
  display: inline;
}